/* :root{
    --patterncolor: #46e4a24a;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    padding-top: 80px;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #144835;
    padding: 0 8vw;
    position: fixed;
    z-index: 999;
}
nav .rightPart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    color: #FBFCFC;
    font-weight: 300;

}

.rightPart i{
    font-size: 12px;
}

.first{
    width: 100%;
    height: 80vh;
    background-color:#144835;
    display: flex;
    overflow: hidden;
    padding-top: 50px;
    justify-content: center;
    color:#FBFCFC;
    /* padding-bottom: 5vw; */
}
.leftFirst{
    width: 50%;
    color: white;
}
.leftFirst #unique_color{
    color: #AFE9D4;
    margin-bottom: 1vw;
}
.leftFirst h1{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4;
}

.leftFirst p{
    width: 95%;
    font-size: 1.2rem;
    font-weight: 100;
    color: #FBFCFC;
}
.leftFirst button{
    margin-top: 40px;
    padding:11px 25px;
    background-color: #FF7F4C;
    border: none;
    border-radius: 5px;
    color: white;
}
.rightFirst img{
    margin-top: 1vw;
    height: 450px;
}
/* Hardik's Work */


.third{
    min-height: 100vh;
    width: 100%; 
    padding: 3vw 10vw;
    background-color: white;   
}
.third h1{
    font-size: 3.5rem;
}
.part1Third{
    margin-top: 4vw;
    display: flex;
    align-items: center;justify-content: space-between;
    
}
.part1Third .cardss{
    background-color: white;
    padding: 2vw;
    margin: .5vw;
}
.cardss{
    display: flex;
    border: 2px solid #dadada;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 25vw;
    height: 20vh;
    
}
.cardss img{
    height: 2rem;
}
.part1Third .cardss h1{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.part1Third .cardss p{
    font-size: .9rem;
}
.part2Third{
    margin-top: 3vw;
    width: 100%;
    background-color: #F5E4FF;
    display: flex;
    height: 180px;
    align-items: center;justify-content: space-around;
    border-radius: 15px;
    
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.achievements{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: #582A73;
}
.achievements img{
    height: 94px;
}

.leftChild video{
        height: 350px;
        width: 500px;
        /* border-radius: 30px; */
}

.rightChild{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.rightChild h1{
    font-size: 2rem;
}
.rightChild button{
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    width: 150px;
    background-color:#144835;
    color: white;
}
.rightChild p{
    width: 70%;
    font-size: 1rem;
    font-weight: 100;
    color: gray;
}
.part3Third{
    display: flex;
    align-items: center;justify-content: space-around;
    padding: 4vw 0 0 0 ;
}

.second{
    height: 100vh;
    width: 100%; 
    padding: 4vw 12%;
    
}
    
.second .cards{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: white;
   
}
.second .card{
    width: 35vw;
    height: 50vh;
    /* background-color: yellow; */
    margin: 20px;
    border: solid 1px rgb(192, 192, 192);
    box-shadow: 0 0 2px;
    border-radius: 5px;
}

.second .cardhead{
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.second .cardhead img{
    height: 120px;
}
.second h2{
    padding: 40px;
    font-size: 40px;

}

.second .cardmain{
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 40px;
}
.second .rightarrow{
    font-size: 50px;
}
.second .cardbottom{
    margin-top: 9%;
    background-color: #D7F4E9;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

.second #secondcardbottom{
    background-color: #FFE7D5;
}

.second ul{
    list-style: none;
    padding-left: 20px;

}
.second .listline{
    display: flex;
    margin: 20px;
    
}

.second .cardbottom li{
    /* padding: 10px 0 20px 0; */
    font-size: 17px;
    color: #5E5E5E;
    
}
.second .prehead{
    color: grey;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 10px;
}
